body {
  margin: 0;
}

.background-item {
  /* blur */
  filter: blur(5px);
  margin: 25px;
}

#login-background {
  position: absolute;
}

#login-container {
  width: 100vw;
  height: 100vh;
  background: rgba(7, 7, 7, 0.5);
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
}

#login-container-inner {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
}

#login-container-inner-inner {
  width: calc(45% - 10px);
  height: fit-content;
  min-height: fit-content;
  background: rgb(19, 18, 18);
  border: 2px solid rgb(14, 14, 14);
  border-radius: 8px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: inline-block;
  padding: 20px;
}

#login-container-inner-inner.loggingin {
  height: 50% !important;
}

.login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-content-inner {
  display: block;
  width: 100%;
  height: calc(45% - 10px);
  padding: 10px 0 0 10px;
}

.login-content-inner > .icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

h1 {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 0 0 10px #000;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}

div.skip > a {
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 0 10px #000;
  cursor: pointer;
  font-family: 'PT Sans Narrow', sans-serif;
  text-decoration: none;
  text-decoration-color: white;
}

hr.rule {
  /* should fade out on left and right sides */
  /* background: gra(linear, 0 0, 100% 0, from(#1F1F1F), to(#FFD700), color-stop(50%, black)); */
  background: radial-gradient(
    circle at center,
    white 0,
    grey 50%,
    rgb(19, 18, 18) 100%
  ) !important;
  height: 2px;
  border: none;
}
